<div class="modal-body">
	<div class="modal-header">
		<h2 class="modal-header-title">
			<i class="fa fa-key"></i>
			<span class="p-l-1">API Key 已创建</span>
		</h2>

		<a class="modal-header-close" ng-click="dismiss();">
			<i class="fa fa-remove"></i>
		</a>
	</div>

	<div class="modal-content">

		<div class="gf-form-group">
			<div class="gf-form">
				<span class="gf-form-label">Key</span>
				<span class="gf-form-label">{{key}}</span>
			</div>
		</div>

		<div class="grafana-info-box" style="border: 0;">
      您只能在这里查看key！ 它不以这种形式存储。 所以一定要现在复制它。
			<br>
			<br>
      您可以使用Authorization HTTP标头验证请求，例如：
			<br>
			<br>
			<pre class="small">
curl -H "Authorization: Bearer {{key}}" {{rootPath}}/api/dashboards/home
			</pre>
		</div>

	</div>

</div>

