<div class="modal-body">
	<div class="modal-header">
		<h2 class="modal-header-title">
			<i class="fa fa-info-circle"></i>
			<span class="p-l-1">添加高警</span>
		</h2>

		<a class="modal-header-close" ng-click="dismiss();">
			<i class="fa fa-remove"></i>
		</a>
	</div>


	<div class="modal-content">
		<div class="text-center">
			<img src="public/img/alert_howto_new.png"></img>
		</div>
		<p class="p-a-2 text-center offset-lg-1 col-lg-10">
      高警在任意graph面板的<strong>高警选项卡</strong>中添加和配置，您可以使用现有查询构建和可视化高警。
      要保留警报规则更改，请记住保存仪表板。 of any dashboard
			graph panel, letting you build and visualize an alert using existing queries.
			<br> <br>
      要保留高警规则更改，不要忘记保存仪表板。
			<br>
			<br>
		</p>
	</div>

</div>

