<div class="modal-body" ng-controller="ShareModalCtrl" ng-init="init()">

	<div class="modal-header">
		<h2 class="modal-header-title">
			<i class="fa fa-share-square-o"></i>
			<span class="p-l-1">{{modalTitle}}</span>
		</h2>

		<ul class="gf-tabs">
			<li class="gf-tabs-item" ng-repeat="tab in tabs">
				<a class="gf-tabs-link" ng-click="editor.index = $index" ng-class="{active: editor.index === $index}">
					{{::tab.title}}
				</a>
			</li>
		</ul>

		<a class="modal-header-close" ng-click="dismiss();">
			<i class="fa fa-remove"></i>
		</a>
	</div>

	<div class="modal-content" ng-repeat="tab in tabs" ng-if="editor.index == $index">
		<div ng-include src="tab.src" class="share-modal-body"></div>
	</div>

</div>

<script type="text/ng-template" id="shareEmbed.html">
	<div class="share-modal-header">
		<div class="share-modal-big-icon">
			<i class="fa fa-code"></i>
		</div>
		<div class="share-modal-content">
			<p class="share-modal-info-text">
        下面的html代码可以粘贴并包含在另一个网页中。 除非启用匿名访问，否则查看该页面的用户需要登录grafana才能加载图表。
			</p>

			<div ng-include src="'shareLinkOptions.html'"></div>

			<div class="gf-form-group gf-form--grow">
				<div class="gf-form">
					<textarea rows="5" data-share-panel-url class="gf-form-input" ng-model='iframeHtml'></textarea>
				</div>
			</div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="shareExport.html">
	<dash-export-modal dismiss="dismiss()"></dash-export-modal>
</script>

<script type="text/ng-template" id="shareLinkOptions.html">
	<div class="gf-form-group">
		<gf-form-switch class="gf-form"
			label="Current time range" label-class="width-12" switch-class="max-width-6"
			checked="options.forCurrent" on-change="buildUrl()">
		</gf-form-switch>
		<gf-form-switch class="gf-form"
			label="Template variables" label-class="width-12" switch-class="max-width-6"
			checked="options.includeTemplateVars" on-change="buildUrl()">
		</gf-form-switch>
		<div class="gf-form">
			<span class="gf-form-label width-12">主题</span>
			<div class="gf-form-select-wrapper width-10">
				<select class="gf-form-input" ng-model="options.theme" ng-options="f as f for f in ['current', 'dark', 'light']" ng-change="buildUrl()"></select>
			</div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="shareLink.html">
	<div class="share-modal-header">
		<div class="share-modal-big-icon">
			<i class="fa fa-link"></i>
		</div>
		<div class="share-modal-content">
			<p class="share-modal-info-text">
        创建一个直接链接到此仪表板或面板，使用下面的选项进行自定义。
			</p>
			<div ng-include src="'shareLinkOptions.html'"></div>
			<div>
				<div class="gf-form-group">
					<div class="gf-form-inline">
						<div class="gf-form gf-form--grow">
							<input type="text" data-share-panel-url class="gf-form-input" ng-model="shareUrl"></input>
						</div>
						<div class="gf-form">
							<button class="btn btn-inverse" clipboard-button="getShareUrl()"><i class="fa fa-clipboard"></i> 复制</button>
						</div>
					</div>
				</div>
			</div>
			<div class="gf-form" ng-show="modeSharePanel">
				<a href="{{imageUrl}}" target="_blank"><i class="fa fa-camera"></i> 直接链接呈现图像</a>
			</div>
		</div>
</script>

<script type="text/ng-template" id="shareSnapshot.html">
	<div class="ng-cloak" ng-cloak ng-controller="ShareSnapshotCtrl" ng-init="init()">
		<div class="share-modal-header">
			<div class="share-modal-big-icon">
				<i ng-if="loading" class="fa fa-spinner fa-spin"></i>
				<i ng-if="!loading" class="icon-gf icon-gf-snapshot"></i>
			</div>
      <div class="share-modal-content">
        <div ng-if="step === 1">
          <p class="share-modal-info-text">
            快照是公开共享交互式仪表板的一种方式。 创建后，我们会<strong>去除敏感数据</strong>，例如查询（指标，模板和注释）和面板链接，只将可见的指标数据和系列名称嵌入您的仪表板。
          </p>
          <p class="share-modal-info-text">
            请注意，您的<strong>快照可供任何拥有该链接并可以访问该网址的人查看</strong>。
            请谨慎分享。
          </p>
        </div>

				<div class="share-modal-header" ng-if="step === 3">
					<p class="share-modal-info-text">
            快照现在已被删除。 如果它已经访问过一次，它可能需要长达一个小时才从浏览器缓存或CDN缓存中删除。
					</p>
				</div>

				<div class="gf-form-group share-modal-options">
					<div class="gf-form" ng-if="step === 1">
						<span class="gf-form-label width-12">快照名称</span>
						<input type="text" ng-model="snapshot.name" class="gf-form-input max-width-15" >
					</div>
					<div class="gf-form" ng-if="step === 1">
						<span class="gf-form-label width-12">到期</span>
						<div class="gf-form-select-wrapper max-width-15">
							<select class="gf-form-input" ng-model="snapshot.expires" ng-options="f.value as f.text for f in expireOptions"></select>
						</div>
					</div>

					<div class="gf-form" ng-if="step === 2" style="margin-top: 40px">
						<div class="gf-form-row">
							<a href="{{snapshotUrl}}" class="large share-modal-link" target="_blank">
								<i class="fa fa-external-link-square"></i>
								{{snapshotUrl}}
							</a>
							<br>
							<button class="btn btn-inverse" clipboard-button="getSnapshotUrl()"><i class="fa fa-clipboard"></i> 复制链接</button>
						</div>
					</div>
				</div>

				<div ng-if="step === 1">
					<p class="share-modal-info-text">
            如果收集仪表板指标需要很长时间，则可能需要配置超时值。
					</p>
				</div>

				<div class="gf-form-group share-modal-options">
					<div class="gf-form" ng-if="step === 1">
						<span class="gf-form-label width-12">超时（秒）</span>
						<input type="number" ng-model="snapshot.timeoutSeconds" class="gf-form-input max-width-15" >
					</div>
				</div>

				<div ng-if="step === 1" class="gf-form-button-row">
					<button class="btn gf-form-btn width-10 btn-success" ng-click="createSnapshot()" ng-disabled="loading">
						<i class="fa fa-save"></i>
            本地快照
					</button>
					<button class="btn gf-form-btn width-16 btn-secondary" ng-if="externalEnabled" ng-click="createSnapshot(true)" ng-disabled="loading">
						<i class="fa fa-cloud-upload"></i>
						{{sharingButtonText}}
					</button>
					<a class="btn btn-link" ng-click="dismiss()">取消</a>
				</div>

				<div class="pull-right" ng-if="step === 2" style="padding: 5px">
          你犯了一个错误？ <a class="pointer" ng-click="deleteSnapshot()" target="_blank">删除快照。</a>
				</div>
			</div>
		</div>
	</div>

</div>
</script>
