<page-header model="navModel"></page-header>

<div class="page-container page-body">
	<h3 class="page-sub-heading">你好 {{greeting}}.</h3>

	<div class="modal-tagline p-b-2">
		<em>{{invitedBy}}</em> 已邀请您加入Grafana组织 <span class="highlight-word">{{contextSrv.user.orgName}}</span></br>请填写以下内容以接受邀请：
	</div>

	<form name="inviteForm" class="login-form gf-form-group">
		<div class="gf-form">
			<span class="gf-form-label width-7">邮箱</span>
			<input type="email" name="email" class="gf-form-input max-width-21" required ng-model='formModel.email' placeholder="Email">
		</div>
		<div class="gf-form">
			<span class="gf-form-label width-7">姓名</span>
			<input type="text" name="name" class="gf-form-input max-width-21" ng-model='formModel.name' placeholder="Name (optional)">
		</div>
		<div class="gf-form">
			<span class="gf-form-label width-7">用户名</span>
			<input type="text" name="username" class="gf-form-input max-width-21" required ng-model='formModel.username' placeholder="Username">
		</div>
		<div class="gf-form">
			<span class="gf-form-label width-7">密码</span>
			<input type="password" name="password" class="gf-form-input max-width-21" required ng-model="formModel.password" id="inputPassword" placeholder="password">
		</div>

		<div style="margin-left: 7.5rem; width: 254px;">
			<password-strength password="formModel.password"></password-strength>
		</div>

		<div class="gf-form-button-row">
			<button type="submit" class="btn btn-success" ng-click="submit();" ng-disable="!inviteForm.$valid">
				注册
			</button>
		</div>
	</form>
</div>


